{% extends "layout.html" %}
{% set active_page = "quiz" %}

{% block style %}
<title>Show quiz</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    .section {
        padding: 10px 0;
        position: relative;
        margin-top: 10px;
    }
    .gray-bg {
        background-color: #f5f5f5;
    }
    .primary_log {
    background-color: #C6267B; /* Change the button color to darker purple */
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    }
    .primary_log:hover {
    background-color: #79174b; /* Change the hover color to even darker purple */
    }
    .qinfo{
        margin-left: 20px;
    }
    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
    } 
    .questions_div{
        margin-top: 20px;
        padding-top: 50px;
    }

    .container{
        font-family: 'Montserrat', sans-serif;
    }
    .container > p{
        font-size: 32px;
    }
    .question{
        width: 75%;
    }
    .options{
        position: relative;
        padding-left: 40px;
    }
    #options label{
        display: block;
        margin-bottom: 15px;
        font-size: 14px;
        cursor: pointer;
    }
    .options input{
        opacity: 0;
    }
    .checkmark {
        position: absolute;
        top: -1px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #555;
        border: 1px solid #ddd;
        border-radius: 50%;
    }
    .options input:checked ~ .checkmark:after {
        display: block;
    }
    .options .checkmark:after{
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%,-50%) scale(0);
        transition: 300ms ease-in-out 0s;
    }
    .options input[type="radio"]:checked ~ .checkmark{
        background: #21bf73;
        transition: 300ms ease-in-out 0s;
    }
    .options input[type="radio"]:checked ~ .checkmark:after{
        transform: translate(-50%,-50%) scale(1);
    }
    
    div.wrapper {
            width: 300px;
            height:300px;
            border:1px solid black;
        }

    div.wrapper input[type="text"] {
            display: block;
            margin : 0 auto;
    }

    @media(max-width:576px){
        .question{
            width: 100%;
            word-spacing: 2px;
        } 
    }
</style>
<script>
    jQuery(document).ready(function($) {
    $("#expire").click(function() {
        event.preventDefault();
        var vall = $(this).val();
        var formData = new FormData();
        formData.append("idx", vall);
        Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
        }).then((result) => {
        if (result.isConfirmed) {
            
            $.ajax({
                type : 'POST',
                url : '/teacher/quiz/expire',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                
                success: function (data) {
                Swal.fire({
                title: "Invalid Input",
                text: data.error,
                icon: "error"
                });
    
                if(data.error=="Updated!"){
                    Swal.fire({
                    title: "Success",
                    text: data.error,
                    icon: "success"
                    });
                    setTimeout(function() {
                    window.location.reload();
                    }, 1000);
                }
                }
            });
            return false;
        }
        }
    );
    });
});

</script>

{% endblock %}


{% block content %}

<div class="container section gray-bg">
    <div class="qinfo float-container">
        <div class="float-child">
            <h3>Title: {{data.title}}</h6>
            <h4>Subject: {{data.sname}}</h4>
            <h4>Duration: {{data.duration}} minutes</h4>
            <h4>Attempted by: {{count.st}}</h4>
        </div>
        <div style="text-align: right;" class="float-child">
            <h5>Number of Questions: {{data.no_of_q}}</h4>
            <h5>Total Marks: {{data.total_mark}}</h4>
            <h5>Date created: {{data.date_created[:-8]}}</h4>
        </div>
    </div>
    {% if data.expired==0 %}
    <p>&nbsp;</p>
    <div style="text-align: center; margin-bottom: 5px;">
        <small>Note: Expiring quizes will send results to all student who have taken the quiz and make the answers public</small>
    </div>
    <div style="text-align: center;"> 
        <button type="button" id="expire" value="{{data.qid}}" class="btn btn-lg primary_log">Expire Quiz</button>
    </div>
    {% else %}
    <p>&thinsp;</p>

    <div style="text-align: center;">
        <h3>[Expired]</h3>
    </div>
    {% endif %}


    <div class="questions_div">
        {% for i in ques %}
        
        {% if i.question_type=="mcq" %}
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Q{{i.position}}. {{i.text}} [&thinsp;{{i.marks}}&thinsp;]</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">{{i.options.A}}
                    <input type="radio" {{ 'checked' if i.answer=='a' else '' }} name="{{i.position}}" value="A">
                    <span class="checkmark"></span>
                </label>
                <label class="options">{{i.options.B}}
                    <input type="radio" {{ 'checked' if i.answer=='b' else '' }} name="{{i.position}}" value="B">
                    <span class="checkmark"></span>
                </label>
                <label class="options">{{i.options.C}}
                    <input type="radio" {{ 'checked' if i.answer=='c' else '' }} name="{{i.position}}" value="C">
                    <span class="checkmark"></span>
                </label>
                <label class="options">{{i.options.D}}
                    <input type="radio" {{ 'checked' if i.answer=='d' else '' }} name="{{i.position}}" value="D">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        {% endif %}
        {% if i.question_type=="wrt" %}
    
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Q{{i.position}}. {{i.text}} [&thinsp;{{i.marks}}&thinsp;]</b></div>
            <div style="margin-left: 50px;" class="input-group w-25 mb-2">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control" name="{{i.position}}" value="{{i.answer | title}}" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    
        {% endif %}
    {% endfor %}
        
    </div>
    <div>
        <p>&nbsp;</p>
    </div>
</div>
<script>
</script>
{% endblock %}
